.btn-register{
    color: white;
    border: black solid 1px;
    background-color: black;
}

.btn-register:hover{
    border: black solid 1px;
}

.image-detail{
    max-width: 450px;
    max-height: 350px;
    display: inline;
}

.price{
    margin-top: 10px;
}

.navbar-brand{
    font-weight: 700;
    font-size: 20px;
}

.product a{
    text-decoration: none;
    color: black;
}

.register-card{
    padding: 60px 120px;
}
.register-card h1{
    text-align: center;
}

.form-register{
    padding: 20px;
}

.desc{
    min-height: 500px;
}

.title-cart{
    padding: 20px 80px;
    background-color: #DBD8E3;
}

.table-cart{
    padding: 30px 70px;
    min-height: 455px;
}